
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Book Store</h2>
  <p>
    Bookstore is a specialist book buyers with over 20 years of experience and we buy collections of all sizes or individual books.
  </p>
  {{#link-to "book-list" class="button"}}
    Book Store
  {{/link-to}}
</div>

{{outlet}}
